html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, div,
time, mark, audio, video {
    margin:0;
    padding:0;
    border: none;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* Reset all elements */

@font-face {
    font-family: "Beautique Display";
    src: url("../assets/BeautiqueDisplay-Regular.otf");
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans JP";
    src: url("../assets/NotoSansJP-Regular.otf");
    font-display: swap;
}

@font-face {
    font-family: "Hasklug NFM";
    src: url("../assets/Hasklug_NerdFont.otf");
    font-display: swap;
}

.serif { font-family: "Beautique Display", serif; }
.sans-serif { font-family: "Noto Sans JP", sans-serif; }
.monospace { font-family: "Hasklug NFM", monospace; }

:root {
    --background: #111111;
    --foreground: #dddddd;
    --highlight: #acacac;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}