.viewport {
    position: relative; display: flex;
    justify-content: center; align-items: center;
}
.title, .subtitle {position: absolute;}
.title {top: 30%; font-size: 20vh;}
.subtitle {top: 51%; font-size: 6.5vh;}