<%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/sheets/error.css">
    <style>
        .subtitle {top: 51%; font-size: 6.5vh;}
    </style>
</head>

<body>
    <div class="viewport whiteBlack monospace">
        <h1 class="title">404</h1>
        <p class="subtitle"><strong>NOT FOUND</strong></p>
    </div>
<%- include("partials/foot.ejs") %>