<%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/sheets/greetings.css">
</head>

<body>
    <div class="greetingContainer">
        <p class="greeting serif">
            Norwegian Wood (ノルウェイの森 - Noruwei No Mori)
            is a 1987 novel by Japanese author Haruki Murakami.
            The novel is a nostalgic story of loss. It is told
            from the first-person perspective of Toru Watanabe,
            who looks back on his days as a college student living
            in Tokyo. Through Watanabe's reminiscences, readers see
            him develop relationships with two very different women
            - the beautiful yet emotionally troubled Naoko, and the
            outgoing, lively Midori. This novel is set in late 1960s
            Tokyo during a period when Japanese students, like those
            of many other nations, were protesting against.
        </p>
    </div>

    <div class="signaContainer">
        <div class="signature serif">
            SIGNATURE
        </div>
    </div>
<%- include("partials/foot.ejs") %>