<%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/sheets/index.css">
    <script type="module" src="/scripts/index.js" type="text/javascript" defer></script>
    <noscript>Please enable JavaScript for basic functionalities</noscript>
</head>

<body>
    <div class="infoContainer">
        <button type="button" id="infoBtn" title="Visit the about us page" class="infoBtn blackWhite serif">i</button>
    </div>

    <div class="titleContainer">
        <div class="titleCard blackWhite serif" id="titleCard">
            <h1>The entry to <br> the "Universe"</h1>
        </div>
    </div>

    <div class="buttonsContainer">
        <button type="button" id="loginBtn" title="Log into your Seishun dashboard"
            class="loginBtn blackWhite serif">Log In
        </button>
    </div>

    <div class="buttonsContainer">
        <button type="button" id="signupBtn" title="Sign up for a Seishun record"
            class="signupBtn blackWhite serif">Sign Up
        </button>
    </div>

    <dialog class="modal blackWhite sans-serif" id="entryDialog">
        <form action="" method="POST">
            <h2>default text</h2><br>
            <label for="" title="">
                <p class="label">default text:</p>
                <input type="text" id="" name="" required minlength="" maxlength="" pattern="" class=""><br><br>
            </label>
            <button id="cancelBtn" class="dialogBtn whiteBlack sans-serif" type="button">Cancel</button>
            <button id="submitBtn" class="dialogBtn whiteBlack sans-serif" type="submit">Submit</button>
        </form>
    </dialog>
<%- include("partials/foot.ejs") %>
