<%- include("partials/head.ejs") %>
    <script type="module" src="/scripts/suspended.js" type="text/javascript" defer></script>
    <noscript>Please enable JavaScript for basic functionalities</noscript>
</head>

<body>
    <p id="unbanTime"><%=unbanTime%></p>
<%- include("partials/foot.ejs") %>